
.head{
    padding: 20px;
    background-color: rgb(167, 145, 145);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}
.container{
    margin: 100px;
    padding: 50px;
    border-radius: 20px;
}
h4{
    color: rgb(69, 194, 194);
    text-transform: capitalize;
}
h5{
    color: rgb(103, 110, 40);
}
h6{
    text-transform: capitalize;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    
}
.wrapper-content{
    background-color: hsl(180, 49%, 37%);
    padding: 15px;
    
    
}
h2{
    color:  darkgray;
    text-transform: capitalize;
}
button{
    width: 120px;
    height: 40px;
    padding: 20px;
    color: #fff;
    background-color: greenyellow;
    text-align: center;
    text-transform: capitalize;
    line-height: 3px;
    font-size: large;
    border-radius: 10px;
}
.wrapper-content2{
    background-color: hsl(180, 56%, 62%);
    padding: 15px;
    
}
