body{
    background-color: aquamarine;
}
.head{
    box-sizing: border-box;
    width: 400px;
    height: 20px;
    padding: 20px;
    color: gray;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
}
.borderbox{
    
    background-color: beige;
    text-align: left;
    width: 400px;
    padding-left: 12px;
   
}
h4{
    color: rgb(69, 194, 194);
    text-transform: capitalize;
}
h5{
    color: rgb(103, 110, 40);
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.wrapper-content{
    background-color: hsl(180, 49%, 37%);
    padding-left: 15px;
    
    
}
h2{
    color:  darkgray;
    text-transform: capitalize;
}
button{
    width: 120px;
    height: 40px;
    padding: 20px;
    color: #fff;
    background-color: greenyellow;
    text-align: center;
    font-size: large;
    border-radius: 10px;
}
.left{
    background-color: hsl(180, 56%, 62%);
    padding-left: 8px;
    
}
